/*
    Относительные единицы измерения
*/
.summary {
    display: flex;
    flex-direction: column;
    width: calc(24vw + 60px);
    box-sizing: border-box;
    padding: calc(1.5vw + 10px);
    background-color: #C4C4C4;
    border-radius: 0.5vw;
    font-size: 0.8rem;
    color: #313634;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.summary__block {
    width: 100%;
}

/*
    Относительные единицы измерения
*/
.summary__block_margin-top {
    margin-top: calc(1vw + 20px);
}

/*
    Медиа-запрос
*/
@media (max-width: 600px) {
    .summary {
        width: 100%;
    }
}